.fa { font-family: 'FontAwesome' !important; }

.landing {
    background-color: #1a1919;
    height: 100vh;
    width: 100%;
    min-height: 400px;
    background-size: cover;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}

#hamburger {
    color: white; 
    font-size:28px;
}

#hamburger:hover {
    color:#649c66;
}

a {
    color:black;
}
  
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color:#649c66;
}

a:active {
    text-decoration: underline;
}

.navbarWrapper {
    background-color: rgba(43, 43, 43, 0.5);
}

.nav-link {
    color:white;
}

.nav-link:hover {
    color:#649c66;
}

.navbar-brand {
    color: #649c66;
}

.navbar-brand:hover {
    color:white;
}

.navbar-toggler-icon {
    color:white;
}

.introWrapper {
    background-color: white;
    z-index: 2;
}

.landerButton {
    color:white;
}

.landerButton:hover {
    color:#ffe23c;
}

#about-button {
    color:white;
    background-color: #649c66;
    border:0;
}

#about-button:hover {
    background-color:#4b9c4e;
}

.about {
    background-color:#1a1919;
    color: white;
    min-height: 750px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}

.aboutWrapper {
    width: 50vw;
}

#about-resume {
    color: #649c66;
}

#about-image {
    width: 200px;
}

#about-down {
    font-size: 50px;
    display: contents;
}

#about-down:hover {
    font-size: 50px;
    display: contents;
    color: #649c66;
    cursor: pointer;
}

.experience {
    padding-top:50px;
    padding-bottom:50px;
    background-color: white;
}

.experienceLogo {
    height: 150px;
    width: auto;
    max-width: 250px;
}

#experience-down {
    font-size: 50px;
    display: contents;
}

#experience-down:hover {
    font-size: 50px;
    display: contents;
    color: #649c66;
    cursor: pointer;
}

.gap100 {
    padding: 20px 0px;
}

.projectsWrapper {
    background-color: #1a1919;
    color:white;
}

.project-center-left-align {
    max-width: 700px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width:100%;
}

.project-entry-wrapper {
    max-width: 700px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.projects-content-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#projects-grid {
    padding-top:50px;
    padding-bottom:50px;
}

#project-title {
    color:#649c66;
}

#project-title-link {
    color:#649c66;
    text-decoration: none;
}

#project-title-link:hover {
    cursor: pointer;
    color: #4b9c4e;
}

#project-tags{
    display: flex;
}

#project-tag{
    border-radius: 3px;
    border-color: #111010;
    background-color: #111010;
    border-width: 3px;
    border-style: solid;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 12px;
}

#project-content {
    text-align: left;
}

#project-play-link {
    text-decoration: none;
    color:#649c66;
    cursor: pointer;
}

#project-play-link:hover {
    text-decoration: none;
    color:#4b9c4e;
    cursor: pointer;
}

.grid-img {
	opacity: 1;
	display: block;
	width: 365px;
	height: auto;
	transition: .5s ease;
    backface-visibility: hidden;
    margin: 6px;
    border-radius: 20px;
    align-self: center;
}

.grid-img:hover {
    opacity: 0.5;
    cursor: pointer;
}

#contact-page{
	max-width: 100%;
    background-color: #1a1919;
	text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#contact-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
}
#contact-heading{
	color: white;
}

#contact-list{
    display: flex;
	list-style-type: none;
	padding:0;
}

#contact-list a {
	text-decoration: none;
	display: inline-block;
	padding-bottom:10px;
	text-decoration:none;
	color:white;
	font-size:25px;
    margin-left: 5px;
    margin-right: 5px;
}

#contact-list a:hover{
	color:#ffe23c;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
  }

.loader-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1a1919;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1031;
}

.loader {
    width: 12rem;
    height: 12rem;
    z-index: 1031;
    color: #649c66;
}

@media screen and (max-width: 800px) {
    .aboutWrapper {
        width: 90vw;
    }
  }
